<h1>Students</h1>

<!-- Back to Home -->
<p><a href="/">Back to Home</a></p>

<!-- Link to Add Student Page -->
<p><a href="/addStudent">Add Student</a></p>

<table border="1">
  <thead>
    <tr>
      <th>Student ID</th>
      <th>Name</th>
      <th>Age</th>
      <th>Update</th>
    </tr>
  </thead>
  <tbody>
    <% students.forEach(student => { %> 
    <tr>
      <td><%= student.sid %></td>
      <td><%= student.name %></td>
      <td><%= student.age %></td>
      <!-- Link to Update -->
      <td><a href="/updateStudent/<%= student.sid %>">Update</a></td>
    </tr>
    <% }); %>
  </tbody>
</table>
